@import 'init';
@import 'colors';
@import 'mixins';

body {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  background-color: $bg-color;
  &.using-mouse :focus:not(:disabled) { 
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  :focus:not(:disabled) {
    outline: none;
    border-radius: .25rem;
    -webkit-box-shadow: 0 0 0 .2rem $focus;
            box-shadow: 0 0 0 .2rem $focus;
  }
}

*{
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  h1 {
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition-duration: 1.8s;
            transition-duration: 1.8s;
    text-shadow: -2px 3px 6px $main, 0px 0px 14px $main, 0px 0px 40px $main;
    color: $main;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: 1.8s;
          transition-duration: 1.8s;
  justify-content: space-around;
  p {
    height: 1.5em;
  }
  > :first-child {
    padding-top: 1em;
  }
}

.row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
padding: .2em;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  .dealer, .player {
    min-height: 12em;
  }
  .card{
    position: absolute;
    background-color: transparent;
    height: 2*5.5625em;
    width: 2*3.9375em;
    margin: .25em;
    border-radius: 2*.15em;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    .card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      -webkit-transition: -webkit-transform .9s;
      transition: -webkit-transform .9s;
      transition: transform .9s;
      transition: transform .9s, -webkit-transform .9s;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      border: 1px solid $main;
      border-radius: 2*.15em;
      -webkit-box-shadow: 0 .25em .5em 0 rgba(0,0,0,0.2);
              box-shadow: 0 .25em .5em 0 rgba(0,0,0,0.2);
    }
    .front, .back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 2*.13em;
    }
    .front {
      background-color: $second;
      color: $main;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      .fcol1, .fcol5 {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 14%;
                flex: 0 0 14%;
        padding-top: .2em;
      }
      .fcol2, .fcol4 {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 18%;
                flex: 0 1 18%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: 2em;
      }
      .fcol3 {
        -webkit-box-flex: 1;
            -ms-flex: 0 0 18%;
                flex: 0 0 18%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: 2em;
      }
      .fcol5 {
       -webkit-transform: rotate(180deg);
               transform: rotate(180deg);
      }
      .font-size-5x {
        font-size: 5em;
        padding-bottom: .05em;
      }
      .pt-07em {
        padding-top: .7em;
      }
      .pb-2em {
        padding-bottom: 2em;
      }
      img {
        width: 100%;
      }
      .w-70 {
        width: 70%;
        margin: auto;
      }
    }
    .rotate {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    .Hearts, .Diamonds {
      color: $d-h-color;
    }
    .Clubs, .Spades {
      color: $c-s-color;
    }
    .back {
      background-color: $card-back;
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      .back-middle {
        position: absolute;
        background-color: $card-back-in;
        border: 1px solid transparentize($color:$card-back-in, $amount: .5);
        @include radial-gradient;
        top: .7em;
        left: .7em;
        bottom: .7em;
        right: .7em;
        border-radius: 2*.13em;
      }
    }
    .flipped{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  .animation-0 {
    -webkit-animation: giveCard-0 1s ease forwards;
            animation: giveCard-0 1s ease forwards;
  }
  .animation-1 {
    -webkit-animation: giveCard-1 1s ease forwards;
            animation: giveCard-1 1s ease forwards;
  }
  .animation-2 {
    -webkit-animation: giveCard-2 1s ease forwards;
            animation: giveCard-2 1s ease forwards;
  }
  .animation-3 {
    -webkit-animation: giveCard-3 1s ease forwards;
            animation: giveCard-3 1s ease forwards;
  }
  .score {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    span {
      padding-left: .3em;
    }
  }
}

.bttn-bar {
  padding-bottom: 1em;
  .center {
    position: absolute;
    top: 50%
  }
  .button:disabled {
    cursor: not-allowed;
  }
  button {
    line-height: 1.5em;
    padding: 0.4em 1.6em;
    margin: 0.4em;
    border-radius: 0.2em;
    color: $main;
    background-color: $second;
    border: 1px solid $main;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-delay: 50ms;
            transition-delay: 50ms;
    &:hover {
      background-color: $main;
      color: $second;
    }
  }
}

.hidden {
  display: none;
}

.opacity-0 {
  opacity: 0;
}



@-webkit-keyframes giveCard-0 {
  0% {
    -webkit-transform: translate(0, -1400px);
            transform: translate(0, -1400px);
  }
  100% {
    -webkit-transform: translate(0,);
            transform: translate(0,);
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@keyframes giveCard-0 {
  0% {
    -webkit-transform: translate(0, -1400px);
            transform: translate(0, -1400px);
  }
  100% {
    -webkit-transform: translate(0,);
            transform: translate(0,);
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);

  }
} 

@-webkit-keyframes giveCard-1 {
  0% {
    -webkit-transform: translate(0, -1400px);
            transform: translate(0, -1400px);
  }
  100% {
    -webkit-transform: translate(0,);
            transform: translate(0,);
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
} 

@keyframes giveCard-1 {
  0% {
    -webkit-transform: translate(0, -1400px);
            transform: translate(0, -1400px);
  }
  100% {
    -webkit-transform: translate(0,);
            transform: translate(0,);
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
} 

@-webkit-keyframes giveCard-2 {
  0% {
    -webkit-transform: translate(0, -1400px);
            transform: translate(0, -1400px);
  }
  100% {
    -webkit-transform: translate(0,);
            transform: translate(0,);
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
} 

@keyframes giveCard-2 {
  0% {
    -webkit-transform: translate(0, -1400px);
            transform: translate(0, -1400px);
  }
  100% {
    -webkit-transform: translate(0,);
            transform: translate(0,);
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
} 

@-webkit-keyframes giveCard-3 {
  0% {
    -webkit-transform: translate(0, -1400px);
            transform: translate(0, -1400px);
  }
  100% {
    -webkit-transform: translate(0,);
            transform: translate(0,);
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
} 

@keyframes giveCard-3 {
  0% {
    -webkit-transform: translate(0, -1400px);
            transform: translate(0, -1400px);
  }
  100% {
    -webkit-transform: translate(0,);
            transform: translate(0,);
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
} 

@media screen and (min-width: 700px) {
  body {
    font-size: 1.5em;
  }
}